section.hero{
	background-image: url(./images/holdingHands_laurentPeignault.jpg);
	background-size: cover;
	background-position: center center;
	height: 80vh;
	min-height: 500px;
	padding: 20px;
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,114,176,0.7);

	}
	.hero_content{
		position: absolute;
	    z-index: 1;
	    width: 70%;
	    top: 0;
	    bottom: 0;
	    display: flex;
	    flex-flow: column nowrap;
	    justify-content: center;
	    h3{
	    	padding-bottom: 20px;
	    	padding-right: 150px;
	    }
	    button{
	    	@include fontSize(18);
	    	margin-right: 30px;
	    }
	}
}

