@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/16) * 1rem;
}
html{
    @include fontSize(15);
}
body{
	color: $black;
	font-family: $sans;
	font-weight: 300;
}
h2{
	@include fontSize(85);
	color: $white;
	font-weight: 700;
}

h3{
	@include fontSize(45);
	color: $white;
	font-weight: 300;
}

h5{
	@include fontSize(12);
	font-weight: 300;
}

p{
	@include fontSize(18);
}

.btn{
	border: none;
	border-radius: 0;
	background: $main;
	border: $lineThickness solid $main;
	color: $white;
	padding: 20px;
	text-transform: uppercase;
	min-width: 200px;
	letter-spacing: 1px;
	transition: all 0.2s ease;
}

.btn.important{
	background: $accent;
	border: $lineThickness solid $accent;
}

.btn.inverse{
	background: $white;
	color: $main;
}

.btn.rounded{
	background: $secondary;
	border-radius: 50px;
    padding: 7px 18px;
    min-width: initial;
	@include fontSize(12);
	border: none;
}

.btn:hover{
	background: $white;
	border: $lineThickness solid $main;
	color: $main;
}
.btn.inverse:hover{
	background: $main;
	color: $white;
}