$accent: #8BCB2C;
$main: #0072B0;
$secondary: #13BFC0;
$white: #FFF;
$black: #1F2041;
$lightGrey:#DEE0DA;
$mediumGrey: #9B9B9B;
$transparentWhite: rgba(256, 256, 256, 0.8);
$transparentBlack: rgba(0, 0, 0, 0.55);
$grey: #9B9B9B;

$lineThickness: 3px;
$wrapperWidth: 2560px;
