@import 'variables';
@import 'fonts';
@import 'normalize';
@import 'typography';

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: white;
    font-weight: 300;
}

::selection {
  background: $lightGrey; /* WebKit/Blink Browsers */

}
::-moz-selection {
  background: $lightGrey; /* Gecko Browsers */
}

.flex{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

@import 'header';
@import 'hero';
@import 'actionBox';
@import 'dragonsDen';
@import 'footer';
@import 'mediaQueries';